:root{
  --bcg-color: #000229;
  --bcg2-color: #0B1840;
  --btn-color: #0388A6;
  --txt-color: #f2f2f2;
}
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}
h2{
  margin: 0;
}
.container{
  background-color: var(--bcg-color);
  color: var(--txt-color);
  width: 100vw;
  height: 100vh;  
  display: flex;   
  align-items: center; 
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap; 
}
.svg img {
  width: 20rem;
}
.title {
  text-decoration: 8px underline var(--btn-color);
  text-align: center;
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1000px){
  .svg img {
    width: 31.25rem;
  }
  .title{
    text-align: left;
  }
}